# Nand2Tetris 실습도구 폴더
tools

# 과제가 주어지지 않는 챕터들
projects/00
projects/13
projects/demo

# 생성한 출력 결과 제외
projects/01/*.out
projects/02/*.out
projects/03/a/*.out
projects/03/b/*.out
projects/04/mult/*.out
projects/04/mult/*.hack
projects/04/fill/*.out
projects/04/fill/*.hack
projects/05/*.out
projects/05/*.hack
projects/06/add/*.hack
projects/06/max/*.hack
projects/06/pong/*.hack
projects/06/rect/*.hack
projects/06/assembler/__pycache__
projects/07/BasicTest/*.asm
projects/07/BasicTest/*.out
projects/07/PointerTest/*.asm
projects/07/PointerTest/*.out
projects/07/StaticTest/*.asm
projects/07/StaticTest/*.out
projects/07/StackArithmetic/SimpleAdd/*.asm
projects/07/StackArithmetic/SimpleAdd/*.out
projects/07/StackArithmetic/StackTest/*.asm
projects/07/StackArithmetic/StackTest/*.out
projects/07/VMTranslator/__pycache__

# 디버깅 설정 폴더
.vscode